<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ url_for('serve_static', path='css/styles.css') }}">

        <title>todo | home</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">weekly to-do list | nickramen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex align-items-center">
                    {% if session.user_id %}
                        <a style="color:white;" class="mr-3"><b>Welcome, {{ session.user_username }}!</b></a>
                    {% else %}
                    {% endif %}
                    <ion-icon name="settings-sharp" class="mr-3 icon"></ion-icon>
                    <button type="button" class="btn btn-light ms-auto" id="logout-button" onclick="logoutButton()">Logout</button>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-between align-items-center" style="padding: 10px;">
            <h1>Dashboard</h1>
            <div class="satisfaction-survey ml-auto">
                <h5>Rate the service</h5>
                <div class="stars">
                    <input type="text" id="userSatisfactionRate" value="{{ satisfaction_rate | tojson }}" hidden />
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div>
                <br>
                <h4>Summary</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <!--Tasks per day -->
                            <canvas id="myChart1"></canvas>
                            <input type="text" id="myChart1Data" value="{{ task_per_day_count | tojson }}" hidden></input>
                        </div>
                    </div>
                    <div class="col-md-2" style="width: 200px;">
                        <div>
                            <!--Done and undone task -->
                            <canvas id="myChart2"></canvas>
                            <input type="text" id="myChart2Data" value="{{ task_count | tojson }}" hidden></input>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <!-- Tasks per category -->
                            <canvas id="myChart3"></canvas>
                            <input type="text" id="myChart3Data" value="{{ tasks_per_category | tojson }}" hidden></input>
                            <input type="text" id="myChart3DataLabels" value="{{ task_categories | tojson }}" hidden></input>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Weekly tasks</h4>
                    <button type="button" class="btn btn-dark ml-auto" data-toggle="modal" data-target="#addTaskModal" id="add-button">Add task</button>
                </div>
                <br>
                <table class="table" id="weekly-tasks-table">
                    <thead>
                        <tr>
                        <!-- Lists days of the week -->
                        {% for day in days %}
                            <td><b>{{ day[1] }}</b></td>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for day in days %}
                            <td>
                                <!--checks whether the list of tasks for a given day is not empty-->
                                {% if tasks_by_day[day[0]] %}
                                    {% for task in tasks_by_day[day[0]] %}
                                    <!--checks whether the task is done or not-->
                                        {% if task[2] == 1 %}
                                            <input type="checkbox" id="{{ task[0] }}" class="list-of-tasks" checked >
                                            <ion-icon id="{{ task[0] }}" class="icon-delete" style="color: red;" name="trash-sharp" data-toggle="modal" data-target="#exampleModal"></ion-icon>
                                            <label id="{{ task[0] }}" class="task-item checked" style="color:rgb(131, 132, 133); padding: 0 2px; display: inline;" >{{ task[1] }}</label><br>
                                        {% else %}
                                            <input type="checkbox" id="{{ task[0] }}" class="list-of-tasks">
                                            <ion-icon id="{{ task[0] }}" class="icon-delete" style="color: red;" name="trash-sharp" data-toggle="modal" data-target="#exampleModal"></ion-icon>
                                            <label contenteditable="true" class="task-item" data-task-id="{{ task[0] }}">{{ task[1] }}</label><br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    No tasks for this day.
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="alert" role="alert" id="login-alert"></div>

        </div>

        <!--Add task Modal-->
        <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    <div class="form-group">
                        <label for="day_id" class="form-label">Day of the week<span style="color: red; font-size: 20px;"> *</span></label>
                        <select class="form-control" id="day_id" name="day_id">
                            <option selected>Select a day</option>
                            {% for row in days %}
                            <option value="{{ row[0] }}">{{ row[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cat_id" class="form-label">Task category<span style="color: red; font-size: 20px;"> *</span></label>
                        <select class="form-control" id="cat_id" name="cat_id">
                            <option selected>Select a category</option>
                            {% for row in categories %}
                            <option value="{{ row[0] }}">{{ row[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="task_description" class="form-label">Task description<span style="color: red; font-size: 20px;"> *</span></label>
                        <input type="text" class="form-control" id="task_description" name="task_description">
                    </div>
                    <input type="text" class="form-control" id="user_id" name="user_id" value="{{ session.user_id }}" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="addNewTask()" class="btn btn-primary">Add new task</button>
            </div>
            </div>
        </div>
        </div>

    <!-- Delete task Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this task?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="task-delete-button" task-id="" onclick="taskDelete()">Delete task</button>
            </div>
        </div>
        </div>
    </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script src="{{ url_for('serve_static', path='js/login-signup.js') }}"></script>
        <script src="{{ url_for('serve_static', path='js/task-actions.js') }}" defer></script>
        

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('serve_static', path='js/graphs-user.js') }}"></script>
        <script src="{{ url_for('serve_static', path='js/graphs-admin.js') }}"></script>

    </body>
</html>